atom-dock {
  position: relative;

  &.right {
    &::before {
      content: '';
      position: absolute;
      right: 100%;
      width: 1em;
      top: 0;
      bottom: 0;
      background: linear-gradient(to left, black, transparent);
      opacity: .05;
    }

    .atom-dock-mask {
      .myui--has-vibrancy & {
        background-color: transparent;

        .item-views {
          background: @base-background-color;
        }
      }
    }
  }

  &.left {
    .myui--has-vibrancy & {
      background-color: @vibrancy-background;

      .item-views,
      .tab-bar,
      .tab-bar .tab.active,
      .atom-dock-mask {
        background-color: transparent;
      }
    }
  }

  &.right {
    .myui--has-vibrancy & {
      .tab-bar {
        background: @vibrancy-background;
      }
    }
  }
}

.atom-dock-mask {
  &:not(:active) {
    transition: width 500ms;
  }
}

.atom-dock-resize-handle {
  &.left, &.right {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 999;
  }

  &.left {
    right: 0;
  }

  &.right {
    left: 0;
  }
}
