
// Status Bar
// -------------------

// Located at the bottom.
// Displays information about the current editor.
// Overrides: atom/status-bar

.status-bar {
  background-color: @tree-view-background-color;
  border-top: none;
  border-radius: 0;
  color: @tree-view-text-color;
  font-size: @font-size;

  a, .cursor-position a {
    color: @tree-view-text-color;

    &:hover {
      color: @tree-view-text-color;
    }
  }

  .myui--has-vibrancy &, .myui--has-background-image & {
    background-color: @vibrancy-background;
  }

  &.platformio-ide-terminal {
    background-color: transparent;

    i, .icon-x {
      color: @tree-view-text-color;
    }
  }
}

.github-StatusBarTileController {
  .github-branch-detached {
    color: @tree-view-text-color;
  }
}
